@{
    var title = ViewBag.Title;
    string activeCustomer = null;
    string activeMovies = null;
    if (title.Equals("Customers"))
    {
        activeCustomer = "active";
    }
    else if (title.Equals("Movies"))
    {
        activeMovies = "active";
    }
}

 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container">
        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                    
                <li class="nav-item @activeCustomer">@Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item @activeMovies">@Html.ActionLink("Movies", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })</li>
                    
            </ul>
            @Html.Partial("_LoginPartial")
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
         </div>
     </div>
 </nav>
    
